@charset "utf08";

* { margin: 0; padding: 0; 
    box-sizing: border-box; }

body { background: #ddd; }
ul { list-style: none; }
a { text-decoration: none; color: inherit; }
.row { max-width: 1200px; margin: 0 auto; }
.cf:after, .cf:before { 
    content: ''; 
    display: block; 
    clear: both;
}

#nav { background: #b69040; 
position: relative;}

.depth1 > li { 
    float: left;
    width: 16.6666%;
    height: 50px;
    line-height: 50px;
    font-size: 17px;
    color: #fff;
    text-align: center;
    border-right: 1px solid #a07e38;
    font-weight: bold;
    position: relative;
}
.depth1 > li:first-child { border-left: 1px solid #a07e38; }
.depth1 a { display: block; }
.depth1 > li:hover { background: #00746e; }
.depth1 > li:hover .depth2 { background: #fff; color: #333; }

.depth2  {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 12px 0;
    font-size: 14px;
    display: none; 
    text-align: center;
    line-height: 32px;
    height: 216px;
    z-index:9999; 
}
.depth1:hover .depth2 { display: block; }
.depth1:hover + .decoBox { display: block; }
.depth2 > li {  padding: 6px 0; line-height: 20px; }
.depth2 > li:hover { color: #ff5f13; }
.decoBox { 
    position: absolute;
    top: 100%;
    left: 0; 
    width: 100%; 
    background: rgba(0, 0, 0, 0.2);
    height: 216px;
    display: none;
 }